// Import variables and mixins
@import 'variables';
@import 'mixins';

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  color: $text-color;
  background-color: $bg-color;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: $spacing-sm;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

a {
  color: $primary-color;
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: darken($primary-color, 10%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}
